/* Style for the Dashboard Page */

body {
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(198, 188, 198, 0.518);
    margin: 0;
}

h1 {
    text-align: left;
    padding : 20px;
    background: black;
    color: rgba(219, 208, 45, 0.916);
    font-size: 36px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #222;
    color: white;
}

.profile-menu {
    position: relative;
}

.profile-button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.dropdown {
    display: block;
    position: absolute;
    right: 0;
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    margin-top: 5px;
}

.dropdown a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.dropdown a:hover {
    display: block;
    background-color: rgba(198, 188, 198, 0.518);
}